.color1 {
  color: #00664d ;
}
.color2 {
  color: #83a95a ;
}
.color3 {
  color: #92d050 ;
}

.logotext {
		font-family:helvetica; 
		font-size:24px
}
.logotext.line1 span{
  margin-left: -15px ; 
}
.logotext.line2 span{
  margin-left: -5px ; 
}
.logotext.line3 span{
  margin-left: 5px ; 
}

.hometext {
  width:100%; 
  text-align:justify; 
  font-size:18px;
}

a,
a:hover,
a:focus{
  color: #00664d ;
  outline: none;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:focus-visible,
.nav-pills > li.active > a:hover{
  background-color:#92d050 ;
  outline: none;
}

.selectize-control {
  font-size: 14pt;
  
}